
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="col-md-3 footer-bottom-cate animated wow fadeInLeft" data-wow-delay=".5s">
    </div>
      <div class="col-md-3 footer-bottom-cate cate-bottom animated wow fadeInRight" data-wow-delay=".5s">


             <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Languages🌐 <b class="'btn btn-info'"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "En", locale:"en" %></li>
                      <li><%= link_to "Vi", locale:"vi"  %></li>
                    </ul>
                  </li>
                  <br>
                  <br>
        <h6><%= t"global.footer.address"%></h6>

        <ul>
          <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Address : 12th Avenue, 5th block, <span>Sydney.</span></li>
          <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Email : <a href="mailto:info@example.com">info@example.com</a></li>
          <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>Phone : +1234 567 567</li>
        </ul>
      </div>

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.4000975527147!2d105.77959715088414!3d21.016671285936262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454aad38b5685%3A0xd5e1b0d5abacb8f6!2sAwesome%20Academy!5e0!3m2!1svi!2s!4v1593838253169!5m2!1svi!2s" width="1050" height="250" frameborder="0" style="border:5;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

      <div class="clearfix"> </div>
      <p class="footer-class animated wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"> © 2020 Ruby Fashion . All Rights Reserved | Design by <a href=https://www.facebook.com/profile.php?id=100005961422800 target="_blank"> Đình Sơn Nguyễn - Acedamy</a> </p>
    </div>
  </div>
</div>

<script src="https://apis.google.com/js/platform.js" async defer>
  function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
}



</script>


<a href="#" onclick="signOut();">Back to top</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
